<h1>List of Creatures</h1>
<form method="GET" action="/prehistoric_creatures">
    <label for="nameFilter">Filter by Name:</label>
    <!-- the name below is the key value of the query  the value is the input-->
    <input type="text" id="nameFilter" name="nameFilter">
    <input type="submit">
</form>
<ul>
    <% creatures.forEach(creature=>{ %>
    <li>
        <%= creature.type %> : <img  src = <%= creature.img_url %> width="100" height="100" >
    </li>
<%}) %> 
</ul>