<h1>Add a New Creature</h1>

<form action="/prehistoric_creatures" method="POST">
    <label for="creatureType">Type</label>
    <input type="text" name="type" id="creatureType">

    <lable for="creatureImage">Image</lable>
    <input type="image" name="name" id="creatureImage">

    <input type="submit">
</form>