<h1>Add a New Dino</h1>

<form action="/dinosaurs" method="POST">
    <label for="dinosaurType">Type</label>
    <input type="text" name="type" id="dinosaurType">

    <lable for="dinosaurName">Name</lable>
    <input type="text" name="name" id="dinosaurName">

    <input type="submit">
</form>